* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #292929;
}

input, button {
  font-family: Poppins;
  color: #f2f2f2;
}

input {
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}